.accordion {
    border-top: var(--ts-accordion-border);
}

.accordion:last-child {
    border-bottom: var(--ts-accordion-border);
}

.button {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: var(--ts-accordion-padding);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--ts-accordion-title-color);
    text-align: left;
}

.isOpen {
    color: var(--ts-accordion-title-color-open);
}

.title {
    margin: 0;
}

.content {
    padding: var(--ts-accordion-padding);
}
