.accordion {
    border: var(--ts-accordion-border);
}

.button {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: var(--ts-accordion-padding);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--ts-accordion-title-color);
}

.title {
    margin: 0;
}

.content {
    padding: var(--ts-accordion-padding);
}

.chevron {
    height: 0.45em;
    position: relative;
}

.chevron::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 10px;
    position: relative;
    top: -5px;
    transform: rotate(135deg);
    vertical-align: top;
    width: 10px;
}

.chevron.top:before {
    top: 0;
    transform: rotate(-45deg);
}
