.accordion {
    border-radius: var(--ts-accordion-border-radius);
    border: var(--ts-accordion-border);
}

.button {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: var(--ts-accordion-padding);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 0;
}

.content {
    border-top: var(--ts-accordion-border);
    padding: var(--ts-accordion-padding);
}

.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0;
    transform: rotate(135deg);
    vertical-align: top;
    width: 0.45em;
}

.chevron.top:before {
    top: 0.15em;
    transform: rotate(-45deg);
}
