.drawer {
    position: var(--ts-drawer-position);
    z-index: var(--ts-drawer-z-index);
    transition: var(--ts-drawer-transition);
    background-color: var(--ts-drawer-bg-color);
}

.body {
    padding: var(--ts-drawer-padding);
}

.iconContainer {
    display: flex;
    justify-content: flex-end;
}

.closeButton {
    border: none;
    background: transparent;
    cursor: pointer;
}

.open {
    box-shadow: var(--ts-drawer-box-shadow);
}

.top {
    left: 0;
    top: calc(var(--ts-drawer-size) * -1);
    width: 100vw;
    height: var(--ts-drawer-size);
}

.top.open {
    top: 0;
}

.right {
    top: 0;
    right: calc(var(--ts-drawer-size) * -1);
    width: var(--ts-drawer-size);
    height: 100vh;
}

.right.open {
    right: 0;
}

.bottom {
    left: 0;
    bottom: calc(var(--ts-drawer-size) * -1);
    width: 100vw;
    height: var(--ts-drawer-size);
}

.bottom.open {
    bottom: 0;
}

.left {
    top: 0;
    left: calc(var(--ts-drawer-size) * -1);
    width: var(--ts-drawer-size);
    height: 100vh;
}

.left.open {
    left: 0;
}
