.drawer {
    position: var(--ts-drawer-position);
    z-index: var(--ts-drawer-z-index);
    transition: var(--ts-drawer-transition);
    background-color: var(--ts-drawer-bg-color);
    box-shadow: var(--ts-drawer-box-shadow);
}

.body {
    padding: var(--ts-drawer-padding);
}

.iconContainer {
    display: flex;
    justify-content: flex-end;
}

.closeButton {
    border: none;
    background: transparent;
    cursor: pointer;
}

.top {
    left: 0;
    top: 0;
    width: 100vw;
    height: var(--ts-drawer-size);
    transform: translateY(-100%);
}

.top.open {
    transform: translateY(0);
}

.right {
    top: 0;
    right: 0;
    width: var(--ts-drawer-size);
    height: 100vh;
    transform: translateX(100%);
}

.right.open {
    transform: translateX(0);
}

.bottom {
    left: 0;
    bottom: 0;
    width: 100vw;
    height: var(--ts-drawer-size);
    transform: translateY(100%);
}

.bottom.open {
    transform: translateY(0);
}

.left {
    top: 0;
    left: 0;
    width: var(--ts-drawer-size);
    height: 100vh;
    animation: slideLeft 0.2s;
    visibility: hidden;
    transform: translateX(-100%);
}

.left.open {
    transform: translateX(0);
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: var(--ts-drawer-overlay-z-index);
    background-color: var(--ts-drawer-overlay-bg-color);
    visibility: hidden;
    opacity: 0;
}

.overlay.open {
    opacity: 1;
}

.open {
    transition: var(--ts-drawer-open-transition);
    visibility: initial;
}
