.header {
    z-index: var(--ts-header-z-index);
    background-color: var(--ts-header-bg-color);
    transition: var(--ts-header-transition);
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.scrolled {
    background-color: var(--ts-header-bg-color-scrolled);
}
