.menuButton {
    background: transparent;
    border: none;
    cursor: pointer;
}

.menuBar1, .menuBar2, .menuBar3 {
    width: var(--ts-menu-button-width);
    height: var(--ts-menu-button-bar-height);
    background-color: var(--ts-menu-button-bar-color);
    margin: var(--ts-menu-button-bar-margin);
    transition: var(--ts-menu-button-bar-transition);
}

.menuBar1Toggled {
    transform: translate(0, calc(var(--ts-menu-button-bar-height) + 5px)) rotate(-45deg);
}

.menuBar2Toggled {
    opacity: 0;
}

.menuBar3Toggled {
    transform: translate(0, calc((var(--ts-menu-button-bar-height) + 5px) * -1)) rotate(45deg);
}
