/*
 * Breakpoints:
 * Md: 1024px
 * Sm: 768px
 */
:root {
    --ts-primary-color: #1e88e5;
    --ts-primary-color-hover: #1976d2;
    --ts-secondary-color: #00acc1;
    --ts-secondary-color-hover: #0097a7;
    --ts-dark-color: black;
    --ts-light-color: white;
    --ts-breakpoint-sm: 768px;
    --ts-breakpoint-md: 1024px;

    /* Button */
    --ts-button-padding: 0.375rem 0.75rem;
    --ts-button-bg-color: #4299e1;
    --ts-button-bg-color-hover: #3a94df;
    --ts-button-bg-color-disabled: #6c757d;
    --ts-button-text-color: white;
    --ts-button-text-color-disabled: white;
    --ts-button-border: none;
    --ts-button-border-radius: 0.25rem;

    /* Label */
    --ts-label-margin: 0 0 0.75rem 0;

    /* Input */
    --ts-input-padding: 0.5rem 1rem;
    --ts-input-border-radius: 0.25rem;
    --ts-input-border: 1px solid #4299e1;
    --ts-input-bg-color-readonly: #e5e7eb;

    /* Drawer */
    --ts-drawer-position: fixed;
    --ts-drawer-padding: 1rem;
    --ts-drawer-z-index: 1050;
    --ts-drawer-transition: all 0.2s ease;
    --ts-drawer-size: 300px;
    --ts-drawer-bg-color: white;
    --ts-drawer-box-shadow: 0 0 10px 5px rgb(0 0 0 / 10%);
    --ts-drawer-overlay-z-index: 1040;
    --ts-drawer-overlay-bg-color: rgba(0, 0, 0, 0.48);
    --ts-drawer-open-transition: all 0.2s;

    /* Dropdown */
    --ts-dropdown-z-index: 1010;
    --ts-dropdown-bg-color: white;
    --ts-dropdown-border-radius: 0.25rem;
    --ts-dropdown-box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);

    /* Section */
    --ts-section-padding: 3rem 1rem;

    /* Container */
    --ts-container-max-width: 1140px;

    /* Columns */
    --ts-column-gap: 1rem;

    /* Navbar */
    --ts-navbar-padding: 1rem;
    --ts-navbar-bg-color: white;
    --ts-navbar-container-margin: 0 auto;
    --ts-navbar-container-max-width: 1140px;
    --ts-navbar-menu-box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
    --ts-navbar-item-padding: 0.5rem;
    --ts-navbar-item-color-hover: #1e88e5;
    --ts-navbar-dropdown-z-index: 1040;
    --ts-navbar-dropdown-border-radius: 0 0 0.25rem 0.25rem;
    --ts-navbar-dropdown-box-shadow: 0 8px 8px rgb(10 10 10 / 10%);
    --ts-navbar-dropdown-padding: 0.5rem;

    /* Hero */
    --ts-hero-height: 600px;
    --ts-hero-bg-color: transparent;
    --ts-hero-overlay-dark: rgba(0, 0, 0, 0.3);
    --ts-hero-padding: 3rem 1rem;

    /* Badge */
    --ts-badge-margin: 0 0.5rem 0.5rem 0;
    --ts-badge-padding: 0.5rem 1rem;
    --ts-badge-border-radius: 0.25rem;
    --ts-badge-bg-color: #f5f5f5;
    --ts-badge-color: black;

    /* Header */
    --ts-header-z-index: 1000;
    --ts-header-bg-color: white;
    --ts-header-transition: background-color 0.3s ease;
    --ts-header-bg-color-scrolled: white;

    /* Accordion */
    --ts-accordion-padding: 1rem 0;
    --ts-accordion-title-color: black;
    --ts-accordion-title-color-open: black;
    --ts-accordion-border: 2px solid #dee2e6;
}
