.size-1 {
    width: 8.33333%;
}

.size-2 {
    width: 16.66667%;
}

.size-3 {
    width: 25%;
}

.size-4 {
    width: 33.33333%;
}

.size-5 {
    width: 41.66667%;
}

.size-6 {
    width: 50%;
}

.size-7 {
    width: 58.33333%;
}

.size-8 {
    width: 66.66667%;
}

.size-9 {
    width: 75%;
}

.size-10 {
    width: 83.33333%;
}

.size-11 {
    width: 91.66667%;
}

.size-12 {
    width: 100%
}

@media screen and (max-width: 1024px) {
    .size-md-1 {
        width: 8.33333%;
    }

    .size-md-2 {
        width: 16.66667%;
    }

    .size-md-3 {
        width: 25%;
    }

    .size-md-4 {
        width: 33.33333%;
    }

    .size-md-5 {
        width: 41.66667%;
    }

    .size-md-6 {
        width: 50%;
    }

    .size-md-7 {
        width: 58.33333%;
    }

    .size-md-8 {
        width: 66.66667%;
    }

    .size-md-9 {
        width: 75%;
    }

    .size-md-10 {
        width: 83.33333%;
    }

    .size-md-11 {
        width: 91.66667%;
    }

    .size-md-12 {
        width: 100%
    }
}

@media screen and (max-width: 768px) {
    .size-sm-1 {
        width: 8.33333%;
    }

    .size-sm-2 {
        width: 16.66667%;
    }

    .size-sm-3 {
        width: 25%;
    }

    .size-sm-4 {
        width: 33.33333%;
    }

    .size-sm-5 {
        width: 41.66667%;
    }

    .size-sm-6 {
        width: 50%;
    }

    .size-sm-7 {
        width: 58.33333%;
    }

    .size-sm-8 {
        width: 66.66667%;
    }

    .size-sm-9 {
        width: 75%;
    }

    .size-sm-10 {
        width: 83.33333%;
    }

    .size-sm-11 {
        width: 91.66667%;
    }

    .size-sm-12 {
        width: 100%
    }
}
