.dropdown {
    position: relative;
    display: inline-block;
}

.button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.content {
    display: none;
    position: absolute;
    top: 100%;
    z-index: var(--ts-dropdown-z-index);
    background-color: var(--ts-dropdown-bg-color);
    border-radius: var(--ts-dropdown-border-radius);
    box-shadow: var(--ts-dropdown-box-shadow);
}

.center {
    left: 50%;
    transform: translate(-50%, 0);
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.open {
    display: var(--ts-dropdown-display);
}
